

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <h2 class="m-5">Sign up</h2>
  <%= f.error_notification %>

  <div class="form-inputs m-5">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :first_name,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "first_name" }%>
    <%= f.input :last_name,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "last_name" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
    <br>
    <p>Add your profile picture</p>
     <%= f.file_field :avatar,
                required: true,
                direct_upload: true,
                input_html: { autocomplete: "avatar" } %>
  </div>
  <div class="form-actions m-5">
    <%= f.button :submit, "Sign up", class: "btn btn-outline-success pr-5 pl-5" %>
  </div>
<% end %>


<br><br>
<br>

<div class="footer">
  <p>This website was coded with <i class="fas fa-heart"></i> at Le Wagon - Bali by Yeon, Maulid, Claudia, Michelle, Eye</p>
</div>
