
<div class="flats-index justify-content-center">
  <div class="d-flex">
    <div class="left m-4">
      <div class="container mt-3">
        <div class="row">
          <div class="col-12">
            <h1 style="text-align: center;">All our Flats</h1>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <h5>You searched for <strong><%= @query %></strong>. We found <%= @flats.count %> flats for you on KinderBnb.</h5>
        </div>
      </div>
      <div class="row">
        <% @flats.each do |flat| %>
          <div class="card-product m-3">
            <%= cl_image_tag flat.photos.first.key %>
            <div class="card-product-infos">
              <h2> <%= flat.name %> </h2>
              <h5> <i class="fas fa-map-marker-alt mt-2 red"></i> <%= flat.location %> </h5>

              <div class="flex">
                <div class="flex">
                  <i class="material-icons mr-2">people</i><span><%= flat.capacity %></span>
                </div>
                <div class="flex ml-3">
                  <i class="material-icons mr-2">euro_symbol</i> <%= flat.price_per_night %>
                </div>
              </div>
              <div class="more-info d-flex justify-content-between">
                <div>
                  <p><i class="fas fa-star" style="color: #F49831;"></i> <%= flat.average_rating %> </p>
                </div>
                <div>
                  <%= link_to "More Info", flat_path(flat), class: "btn btn-outline-secondary" %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="right">
      <div id="map" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
  </div>
</div>
