<div class="container mt-3">
<div>
  <div class="row">
    <div class="col-12">
      <h1>Flat Details</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h4><%= @flat.name %></h4>
    </div>
  </div>
  </div>


<div class="main-container">
  <div class="container mt-3">
    <div class="row">
      <div class="flat-card p-2">
        <div class="flat-card-title">
        <h4>A bit more about this flat...</h4>
        </div>
        <p><%= @flat.description %> for $<%= @flat.price_per_night %> per night.</p>
        <p>We are located at <%= @flat.location%> with capacity of <%= @flat.capacity %> guests.</p>
        <div class="row" style="height:300px">
        <div class="col-<%= @flat.photos.second.nil? ? "12" : "6" %>">
          <div class="flat-pictures" style="background-image: url('<%= cl_image_path @flat.photos.first.key %>')"></div>
         </div>
         <div class="col-6">
          <div class="row">
          <%unless @flat.photos.second.nil?%>
          <div class="col-<%= @flat.photos.third.nil? ? "12" : "6" %>">
            <div class="flat-pictures" style="background-image: url('<%= cl_image_path @flat.photos.second.key %>')"></div>
          </div>
          <%end%>
          <%unless @flat.photos.third.nil?%>
          <div class="col-6">
            <div class="flat-pictures" style="background-image: url('<%= cl_image_path @flat.photos.third.key %>')"></div>
          </div>
          <%end%>
          <%unless @flat.photos.fourth.nil?%>
          <div class="col-6">
            <div class="flat-pictures" style="background-image: url('<%= cl_image_path @flat.photos.fourth.key %>')"></div>
          </div>
          <%end%>
          <%unless @flat.photos.fifth.nil?%>
          <div class="col-6">
            <div class="flat-pictures" style="background-image: url('<%= cl_image_path @flat.photos.fifth.key %>')"></div>
          </div>
          <%end%>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="booking-page mt-4 p-2">
    <%= simple_form_for([@flat, @booking]) do |b| %>
    <%= b.input :start_date %>
    <%= b.input :end_date %>
    <%=b.submit%>
  <% end %>

  </div>
<div class = "container mt-2" >
<h2><i class="fas fa-star red"></i> Reviews (<%= @flat.average_rating %>)</h2>
<div class="row">
  <% @flat.reviews.each do |review| %>
  <div class="col-6">
    <div class="card mt-3 p-3">
      <div class="d-flex align-items-center">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/sarahlafer", class: "avatar-bordered", alt: "avatar-bordered" %>
        <div class="ml-2">
        <p class="mb-0"><%= review.booking.user.full_name %></p>
        <p class="mb-0"><%= review.created_at.strftime("%B %Y") %></p>
      </div>
      </div>

      <p><i class="fas fa-star red"></i> <%= review.rating %></p>
      <p><%= review.content %></p>
    </div>
    </div>
  <% end %>
</div>
</div>
