<div class="container mt-3">
<div>
  <div class="row">
    <div class="col-12">
      <h1>Flat Details</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h4><%= @flat.name %></h4>
    </div>
  </div>
  </div>
<div class="main-container">
  <div class="container mt-5 mb-5">
      <div class="booking-card">
        <div class="flat-card-title">
        <h4>A bit more about this flat...</h4>
        </div>
        <p><%= @flat.description.gsub(".", "") %> for $<%= @flat.price_per_night %> per night.</p>
        <p>We are located at <%= @flat.location%> with capacity of <%= @flat.capacity %> guests.</p>
        <div class="row" style="height:200px">
        <div class="col-<%= @flat.photos.second.nil? ? "12" : "6" %>">
          <div class="flat-pictures" style="background-image: url('<%= cl_image_path @flat.photos.first.key %>')"></div>
         </div>
         <div class="col-6">
          <div class="row">
          <%unless @flat.photos.second.nil?%>
          <div class="col-<%= @flat.photos.third.nil? ? "12" : "6" %>">
            <div class="flat-pictures" style="background-image: url('<%= cl_image_path @flat.photos.second.key %>')"></div>
          </div>
          <%end%>
          <%unless @flat.photos.third.nil?%>
          <div class="col-6">
            <div class="flat-pictures" style="background-image: url('<%= cl_image_path @flat.photos.third.key %>')"></div>
          </div>
          <%end%>
          <%unless @flat.photos.fourth.nil?%>
          <div class="col-6">
            <div class="flat-pictures" style="background-image: url('<%= cl_image_path @flat.photos.fourth.key %>')"></div>
          </div>
          <%end%>
          <%unless @flat.photos.fifth.nil?%>
          <div class="col-6">
            <div class="flat-pictures" style="background-image: url('<%= cl_image_path @flat.photos.fifth.key %>')"></div>
          </div>
          <%end%>
          </div>
        </div>
      </div>

    <% if @flat.user == current_user %>
      <div class="edit-btn d-flex justify-content-center mt-3">
        <%= link_to "Edit", edit_flat_path, class: "btn btn-secondary mr-2" %>
        <%= link_to "Remove", flat_path(@flat), method: :delete, data: { confirm: "Are you sure you want to delete this flat?" }, class: "btn btn-secondary" %>
      </div>
    <% end %>

  </div>
 <% if @flat.user != current_user %>
  <div class="booking-page mt-2 p-2">
    <%= simple_form_for([@flat, @booking]) do |b| %>
    <%= b.input :start_date, html5: true %>
    <%= b.input :end_date, html5: true %>
    <div class="create-booking-button">
    <%= b.submit %>
    </div>
    <% end %>
<% end %>
  </div>


</div>



  <div class="right d-flex justify-content-center">
    <div id="map" style="width: 870px; height: 400px;" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>

<div class = "container mt-5" >
<h4><i class="fas fa-star red"></i> Reviews (<%= @flat.average_rating %>)</h4>
<div class="row">
  <% @flat.reviews.each do |review| %>
  <div class="col-6">
    <div class="card mt-3 p-3">
      <div class="d-flex align-items-center">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/sarahlafer", class: "avatar-bordered", alt: "avatar-bordered" %>
        <div class="ml-2">
        <p class="mb-0"><%= review.booking.user.full_name %></p>
        <p class="mb-0"><%= review.created_at.strftime("%B %Y") %></p>
      </div>
      </div>
      <p class="text-left"><i class="fas fa-star red"></i> <%= review.rating %></p>
      <p class="text-left"><%= review.content.truncate(140) %></p>
    </div>
    </div>
  <% end %>
</div>

<div class="footer">
  <p>This website was coded with <i class="fas fa-heart"></i> at Le Wagon - Bali by Yeon, Maulid, Claudia, Michelle, Eye</p>
</div>
