<div class="navbar navbar-expand-sm navbar-light navbar-lewagon <%= "navhome" if current_page?("/") %>">
  <%= link_to flats_path, class: "navbar-brand" do %>
    <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Eo_circle_deep-orange_letter-k.svg/1024px-Eo_circle_deep-orange_letter-k.svg.png" %>
  <% end %>
  <% if controller_name == "flats" && action_name == "index" %>
  <%= form_tag flats_path, method: :get do %>
  <div class="search-bar d-flex">
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a flat"
    %>
    <%= text_field_tag :capacity,
      params[:capacity],
      class: "form-control",
      placeholder: "Capacity"
    %>
    <%= text_field_tag :price_per_night,
      params[:price_per_night],
      class: "form-control",
      placeholder: "Price per night"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  </div>
  <% end %>
<% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Home", flats_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Dashboard", dashboard_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            <%= link_to "Create flat", new_flat_path, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
