
<div class="container">
  <h1 class="title mt-3" style="text-align: center;">Dashboard</h1>

  <div class="row">
    <% @flats.each do |flat| %>
      <div class="col-4">
        <div class="flat-card">
          <div class="flat-card-image" style="background-image: url('<%= cl_image_path flat.photos.first.key %>')"></div>
          <div class="flat-card-content">
            <div class="flat-card-title">
              <h4><%= flat.name %></h4>
            </div>
            <p><%= flat.location %></p>
          </div>
          <div class="flat-card-actions">
            <%= link_to 'More info', flat_path(flat.id) %>
            <%= link_to "Edit", edit_flat_path(flat.id) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <hr>

  <h2 class="title mb-3"> My Bookings </h2>
  <% @my_booking.each do |booking| %>
    <div class="card-product mb-3">
      <%= cl_image_tag booking.flat.photos.first.key %>
      <div class="card-product-infos">
        <h2> <%= booking.flat.name %> </h2>
        <h5> <%= booking.status %> </h5>
        <p><%= booking.start_date %> ~ <%= booking.end_date %></p>
      </div>
    </div>
  <% end %>

  <hr>

  <h2 class="title mb-3"> My flat's Bookings </h2>
  <% @bookings.each do |booking| %>
    <div class="card-product mb-3">
      <%= cl_image_tag booking.flat.photos.first.key %>
      <div class="card-product-infos">
        <h2> <%= booking.flat.name %> </h2>
        <h5> <%= booking.status %> </h5>
        <p><%= booking.start_date %> ~ <%= booking.end_date %></p>
        <% if booking.status == "pending" %>

          <%= link_to "Accept", booking_path(booking, status: "confirmed"), method: :patch %>
          <%= link_to "Reject", booking_path(booking, status: "rejected"), method: :patch %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
