
<div class="container">
  <h1 class="title mt-3" style="text-align: center;">Dashboard</h1>

  <div class="my-flat">
    <h2 class="title mb-3"> My Flats </h2>
      <% if @my_flats.empty? %>
        <p>You don't have flat! yet!</p>
      <% end %>
    <div class="row">
      <% @my_flats.each do |flat| %>
        <div class="col-4">
          <div class="flat-card">
            <div class="flat-card-image" style="background-image: url('<%= cl_image_path flat.photos.first.key %>')"></div>
            <div class="flat-card-content">
              <div class="flat-card-title">
                <h4><%= flat.name %></h4>
              </div>
              <p><%= flat.location %></p>
            </div>
            <div class="flat-card-actions">
              <%= link_to 'More info', flat_path(flat) %>
              <%= link_to "Edit", edit_flat_path(flat) %>
              <%= link_to "Delete", flat_path(flat), method: :delete,  data: { confirm: "Are you sure you want to delete this flat? You will delete all the related bookings." }%>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <hr>

  <h2 class="title mb-3"> My Bookings </h2>
    <% if @my_booking.empty? %>
      <p>You don't have booking! yet!</p>
    <% end %>
  <% @my_booking.each do |booking| %>
    <div class="card-product mb-3">
      <%= cl_image_tag booking.flat.photos.first.key %>
      <div class="card-product-infos">
        <h2> <%= booking.flat.name %> </h2>
        <h5> <%= booking.status %> </h5>
        <p><%= booking.start_date %> ~ <%= booking.end_date %></p>
        <p><i class="fas fa-star red"></i><%= booking.flat.average_rating %></p>
        <%= link_to "More Info", flat_path(booking.flat) %>
        <%= link_to "Review", booking_path(booking) %>
      </div>
    </div>
  <% end %>

  <hr>

  <h2 class="title mb-3"> My flat's Bookings </h2>
    <% if @bookings.empty? %>
      <p>You don't have booking! yet!</p>
    <% end %>
  <% @bookings.each do |booking| %>
    <div class="card-product mb-3">
      <%= cl_image_tag booking.flat.photos.first.key %>
      <div class="card-product-infos">
        <h2> <%= booking.flat.name %> </h2>
        <h5> <%= booking.status %> </h5>
        <p><%= booking.start_date %> ~ <%= booking.end_date %></p>
        <% if booking.status == "pending" %>

          <%= link_to "Accept", booking_path(booking, status: "confirmed"), method: :patch %>
          <%= link_to "Reject", booking_path(booking, status: "rejected"), method: :patch %>
        <% end %>
        <p><i class="fas fa-star red"></i><%= booking.flat.average_rating %></p>
      </div>
    </div>
  <% end %>
</div>
